.Logo 
{
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    align-items: center;
    background-color: crimson;
    color: black;
    font-weight: 500;
}

a 
{
    text-decoration: none;
}

